[alias]
    a = add
    aa = add -A
    b = branch
    ba = branch -a
    d = diff --patch-with-stat
    df = diff --patch-with-stat --color-words
    ds = diff --patch-with-stat --staged
    dt = difftool
    dts = difftool --staged
    fc = "!f() { git log --pretty='%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --grep=$1; }; f"
    fs = "!f() { git log --pretty='%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' -S$1; }; f"
    lg = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
    remotes = remote -v
    s = status -sb
    sclone = clone --depth 1
    sw = switch

[core]
    editor = nvim
    autocrlf = input

[include]
    path = ~/.gitconfig.local

[push]
    default = simple

[pull]
    ff = only

[fetch]
    prune = true

[init]
    defaultBranch = main

[rebase]
    autoStash = true

[merge]
    tool = nvimdiff

[color]
    ui = auto
    diff = auto

[color "diff"]
    meta = yellow bold
    commit = cyan bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = green
    changed = yellow
    untracked = red
